[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/tonyxuqqi/rocksdb.git
	branch = wal_debug

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master
